/* AUDIOS / VIDEOS */

@media(max-width: 767px) {
	#body-audios .audios,
	#body-videos .videos {
		margin: 0;
		padding: 0;
		width: 100%!important;
	}	
}

	#body-audios #content article,
	#body-videos #content article {
		text-align: justify;
		background: white;
		margin: 15px;
	    padding: 15px;
	}
	#body-audios #content article h2,
	#body-videos #content article h2{
		text-align: center;
	}

.breadcrumbs a {
	cursor: pointer;
}


main .container,
#main .container {
	position: relative;
	padding-bottom: 20px;
}

/* HOME */
#banner {
    position: relative;
    padding: 20em 0em;
    background: url(../img/kusnir2.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    height: 500px;
}

/* BIOGRAFIA */



#body-biografia #content article header .byline {
	padding: 0!important;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: justify;
	width: 90%; 
}

#body-biografia #content article > p {
	text-align: justify;
}

#body-biografia .enlaces h2 {
	text-align: left;
}

#body-biografia .enlaces ul li {
	text-align: left;
}

#body-biografia .distinciones {
	margin-top: 50px;
}

#body-biografia .distinciones ul li {
	text-align: justify;
}

/* NOVEDADES */
.container.novedades, .container.novedad { padding: 10px; }


#body-novedades #content p {
	text-align: justify;
}

/* NOVEDADES */
.container.otros, .container.otro { padding: 10px; }


#body-otros #content p {
	text-align: justify;
}


/* COMPOSICIONES */
.container.composiciones { text-align: left; }
.container.composiciones #content { 
    margin-left: auto;
    margin-right: auto;
    float: none;
    padding: 20px 50px;
    margin-top: 60px;
    background: #fff;

 }
.container.composiciones .subtitle { font-size: 20px; }


/* TESIS */
.container.tesis #content { text-align: left!important; }
.container.tesis #content span.byline { width: 100%; padding: 10px 0!important; }



/* IMAGENES */
.imagenes .item { width:32.3%; padding: 10px; background: white; margin: 5px; }
.imagenes .item img { margin: 0!important; }

/* SA SUCCESS */
.sa-success {
	margin-bottom: 31px!important;
}

/* PAGINADOR */
.container .paginador {
	position: absolute;
	text-align: center;
	bottom: -40px;
	width: 100%;
}
.container .paginador ul {
	width: 100%;
	text-align: center;
}
.container .paginador ul li {
	display: inline;
	margin: 0;
	padding: 0;
}

.container .paginador li.active {
	font-weight: bold;
	color: gray;
}

.container .paginador ul li a,
.container .paginador ul li span {
	color: gray!important;
	text-decoration: none!important;
	padding: 15px;
}

.container .paginador ul li a:hover {
	background: gray;
	color: white!important;
}