<!DOCTYPE HTML>
<!--
	Venue by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="right-sidebar">
		<div id="page-wrapper">
			<!-- Header -->
				<div id="header">
					<div class="container">
						
						<!-- Logo -->
							<h1 id="logo"><a href="index.html"><img src="images/logo.jpg" alt="Imagen Eduardo" /></a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="#">CATALOGO</a>
										<ul>
											<li><a href="audio.html">AUDIOS</a></li>
											<li><a href="videos.html">VIDEOS</a></li>
											<li><a href="partituras.html">PARTITURAS</a></li>
										</ul>
									</li>
									<li><a href="biografia.html">Biografía</a></li>
									<li><a href="novedades.html">NOVEDADES</a></li>
									<li class="break"><a href="tesis.html">TESIS</a></li>
									<li><a href="imagenes.html">IMAGENES</a></li>
									<li><a href="contact.html">Contacto</a></li>
								</ul>
							</nav>

					</div>
				</div>		

			<!-- Main -->
				<div id="main">
					<div class="container">

						<div class="row">

							<!-- Content -->
								<div id="content" class="8u 12u(mobile)">
									<article>
										<header>
											<h2>Biografía</h2>
											<span class="byline">Eduardo Kusnir nació en Buenos Aires, Argentina, donde inicia como pianista.</span>
										</header>
										<p>Continúa durante cinco años sus estudios musicales en el Conservatorio Nacional de Sofía, Bulgaria (Konstantin Ganev, piano, Vladi Simeonov, dirección de orquesta). A partir de allí comienza su carrera profesional. En 1962 es invitado por el Ballet Nacional de Cuba para encargarse de la dirección musical de la compañía. Durante tres años dirige un gran número de obras para ballet, realizando una extensa gira por viaja la ex Unión Soviética y China (presentaciones en Moscú, San Petersburgo, Stalingrado, Pekín, Shangai, Cantón, etc.).</p>
										<div class="imagen_izquierda 12u">
											<img src="images/biografia3.jpg" alt="" class="image featured3"/>
											<blockquote>"Conservatorio Nacional de Sofía, Bulgaria"</blockquote>
										</div>
										<p>De regreso en Buenos Aires obtiene una beca para estudios avanzados de composición y música electrónica en el “Centro Latinoamericano de Altos Estudios Musicales” (CLAEM) del  Instituto Torcuato di Tella, recibiendo clases de Gerardo Gandini, Francisco Kroepfl y Luis de Pablo, entre otros. Realiza su primera composición electrónica, titulada La Panadería (1970), que más adelante se convertiría en La Gran Panadería, en su versión sinfónica.</p>
										<div class="12u">
										<img src="images/ditella.jpg" alt="" class="image featured2" />
										<blockquote>"Instituto Di Tella - Universidad Torcuato Di Tella"</blockquote>
										</div>
										<p>Viaja a Francia, donde en 1974 recibe su doctorado en Estética de la Universidad de París 8, bajo la tutela de Daniel Charles, con una tesis que glosa sobre su personal visión del teatro musical. Desde entonces, Eduardo Kusnir alterna actividades de compositor, intérprete y docente. Ha sido dos veces profesor visitante de la Universidad de Puerto Rico (de 1977 a 1978 y de 1995 a 1998). En Caracas fue fundador de la cátedra de música electroacústica del Conservatorio Nacional de Música “Juan José Landaeta”, mientras que en la Universidad Central de Venezuela fue profesor en la Escuela de Artes y co-fundador del “Centro de Documentación e Investigaciónes Acústico-Musicales” (CEDIAM).</p>
										<div class="imagen_izquierda 12u">
										<img src="images/biografia2.jpg" alt="" class="image featured3" />
										<blockquote>"niversidad de París 8"</blockquote>
										</div>
										<p>Específicamente como compositor, Kusnir se ha concentrado en la creación electroacústica, a veces con elementos teatrales y combinaciones instrumentales acústicas, en donde el humor y situaciones absurdas son delicadamente expuestos. Sin embargo, especialmente a partir de 2003,   el género sinfónico y las obras de cámara y escénicas (su ópera breve “La vida en Mutancio” se estrenó en octubre de 2012), adquieren mayor presencia. Sus composiciones se han ejecutado en Europa y las Américas. El sello francés “Chistophée éléctronique” ha sacado la luz su único CD comercial.</p>
										<div class="12u">
											<img src="images/biografia1.jpg" alt="" class="image featured2" />
											<blockquote>Ópera breve “La vida en Mutancio”</blockquote>
										</div>
										<p>Nuevamente de regreso en su país natal, en el año 2001 se incorpora como restaurador encargado de la digitalización de archivos sonoros en el Instituto Nacional de Musicología “Carlos Vega”. En 2011 coordinó el festival latinoamericano “Resonancias de la modernidad” en conmemoración del 50 aniversario de la fundación del CLAEM, evento auspiciado por la Secretaría de Cultura de la Nación.</p>
										<p>Ha ejercido como crítico musical y columnistas en los diarios “El Nacional” (Venezuela) y “El Nuevo Día (San Juan de Puerto Rico).</p>
										<section>
										<header>
											<h2>Distinciones</h2>
										</header>
										<p>BECAS, PREMIOS, ENCARGOS, PUBLICACIONES Y DISTINCIONES:</p>
										<ul class="style1">
											<li>Premio de Composición “Casa de las Américas” (Cuba 1965): Primer Premio, categoría música coral.</li>
											<li>Concurso de Composición del Fondo Nacional de las Artes (Argentina, 1976): Primer Premio categoría música coral y Primer Premio categoría música de cámara.</li>
											<li>Concurso de Composición del Instituto Goethe de Buenos Aires: Segundo Premio.</li>
											<li>Premio “Euphonie d’or” en el Concurso Internacional de Música Electroacústica de Bourges, Francia, 1992.</li>
											<li>Gran Premio “Magistère” en el Concurso Internacional de Música Electroacústica de Bourges, Francia, 1997, por la obra titulada “Juegos I”.</li>
											<li>Encargo del Instituto de Psicoacústica y Música Electrónica (IPEM) de Gante , Bélgica, para la composición de la obra “Ofrenda” (1972).</li>
											<li>Sucesivos encargos del Grupo de Música Experimental de Bourges, Francia, para la composición y publicación de las siguientes obras musicales: “Lily en el Fuego” (1987), “Miranda en Francia” (1989), “Simple” (1990), “Retorno” (1992), “Una carta” (1996), “Homenaje a Schaeffer” (1996).</li>
											<li>Sucesivos encargos del L.I.P.M de Buenos Aires, Argentina, para la composición de las siguientes obras musicales: “Cómo es Lily” (1985), “Buenos días, fue un buen día” (1991).</li>
											<li>Beca del Ministerio de Cultura de Bulgaria (1956-91), para estudios en el Conservatorio Búlgaro del Estado.</li>
											<li>Beca del Instituto Di Tella de Buenos Aires (1069-70), para estudios de especialización en composición musical.</li>
											<li>Beca del Ministerio de Asuntos Extranjeros de Francia (1972-74) para estudios de doctorado.</li>
											<li>Beca del Ministerio de Cultura de España (diciembre del 95-enero del 96) para estudios en el Laboratorio de Informática Musical del Centro Reina Sofía de Madrid.</li>
											<li>Publicación de la obra musical “La Panadería” por el sello disquero “Tacuabé”, Montevideo, Uruguay, 1975.</li>
											<li>Publicación del CD titulado “Lily”  con siete composiciones musicales, por el sello francés “Chrisopée electronique” (1997).</li>
											<li>Publicación del CD “Cultures Electroniques #10” , serie UNESCO/CIME, que contiene    “Juegos I”,  obra premiada en el 24avo  Concurso Internacional de Bourges, Francia.</li>
											<li>Encargo de la Secretaría de Cultura de la Nación para la composición de “La vida en Mutacio”, ópera de cámara (Buenos Aires, 2012).</li>
											<li>Crítico musical del diario “El Nacional” de Venezuela y columnista de su suplemento “Papel literario”.</li>
											<li>Crítico musical del diario “El nuevo día” de Puerto Rico.</li>
											
										</ul>
									</section>

									</article>
								</div>

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">

									<section>
										<header>
											<h2>Enlaces de interes</h2>
										</header>
										<ul class="style1">
											<li><a href="#">CEDIAM-UCV:EDUARDO KUSNIR</a></li>
											<li><a href="#">MIMAROGLU MUSIC SALES-EDUARDO KUSNIR</a></li>
											<li><a href="#">“LA VIDA EN MUTANCIO” DE EDUARDO KUSNIR</a></li>
											<li><a href="#">FESTIVAL INTERNACIONAL DE BOURGES – WIKIPEDIA, LA ENCICLOPEDIA LIBRE</a></li>
											<li><a href="#">EDUARDO KUSNIR, COMPOSITEUR // DISCOGRAPHIE  LA BOUTIQUE ÉLECTROACOUSTIQUE</a></li>
											<li><a href="#">LA MÚSICA EN EL DI TELLA | CRÉDITOS DE PRODUCCIÓN</a></li>
											<li><a href="#">LA MÚSICA EN EL DI TELLA – CENTRO CULTURAL BORGES – MÚSICA – OCCIDENTES</a></li>
											<li><a href="#">CEDIAM-UCV:QUIÉNES SOMOS</a></li>
											<li><a href="#">LA COCINA DE CE: LA PANADERIA DE EDUARDO KUSNIR</a></li>
											<li><a href="#">XVII FESTIVAL LATINOAMERICANO DE MÚSICA 2012 – COMPOSITORES E INTÉRPRETES</a></li>
										</ul>
										
									</section>

									

								</div>

						</div>
					</div>
				</div>

			

			<!-- Copyright -->
				<div id="copyright">
					<div class="container">
						Copyright &copy; Eduardo Kusnir. All rights reserved.
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>