<!DOCTYPE HTML>
<!--
	Venue by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
					<div class="container">
						
						<!-- Logo -->
							<h1 id="logo"><a href="index.html"><img src="images/logo.jpg" alt="Imagen Eduardo" /></a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="#">CATALOGO</a>
										<ul>
											<li><a href="audio.html">AUDIOS</a></li>
											<li><a href="videos.html">VIDEOS</a></li>
											<li><a href="partituras.html">PARTITURAS</a></li>
										</ul>
									</li>
									<li><a href="biografia.html">Biografía</a></li>
									<li><a href="novedades.html">NOVEDADES</a></li>
									<li class="break"><a href="tesis.html">TESIS</a></li>
									<li><a href="imagenes.html">IMAGENES</a></li>
									<li><a href="contact.html">Contacto</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Banner -->
				<div id="banner">
					<div class="container">
						<section>
						<!-- 	<header>
								<h2>Hola!!! Soy Eduardo Kusnir</h2>
								<span class="byline">Conozcan mi trabajo y un poco de mi</span>
							</header>
							<a href="biografia.html" class="button">¿Vamos?</a>-->
						</section>
					</div>
				</div>

			<!-- Featured -->
				<div id="featured">
					<div class="container">
						<div class="row">


							<!-- Featured 1 -->
								<section class="4u 12u(mobile)">
									<header>
										<img src="images/noticia_home1.jpg" alt="" class="image featured" />
										<h2>Resonancias de la modernidad</h2>
									</header>
									<div class="box-style">
										<p>Los compositores Gerardo Gandini y Eduardo Kusnir son los programadores del festival, que tendrá como directores a Alejo Pérez, Jorge Sarmientos y Alfredo Rugeles, para las obras sinfóni...</p>
									</div>
									<a href="novedades.html" class="button">Leer más</a>
								</section>

							<!-- Featured 2 -->
								<section class="4u 12u(mobile)">
									<header>
										<img src="images/noticia_home2.jpg" alt="" class="image featured" />
										<h2>Blogspot</h2>
									</header>
									<div class="box-style">
										<p>El 50° aniversario del Centro Latinoamericano de Altos Estudios Musicales (Claem), parte del Instituto Di Tella, será celebrado con un Festival Internacional en junio y también, anunció la Secretaría de Cultura de la Nación, con un concurso para compositores no mayores de 35 años. Los jurados serán Gerardo Gandini, Mariano Etkin y Eduardo Kusnir.</p>
									</div>
									<a href="novedades.html" class="button">Leer más</a>
								</section>

							<!-- Featured 3 -->
								<section class="4u 12u(mobile)">
									<header>
										<img src="images/noticia_home3.jpg" alt="" class="image featured" />
										<h2>Resonancias de la modernidad</h2>
									</header>
									<div class="box-style">
										<p>Los compositores Gerardo Gandini y Eduardo Kusnir son los programadores del festival, que tendrá como directores a Alejo Pérez, Jorge Sarmientos y Alfredo Rugeles, para las obras sinfóni...</p>
									</div>
									<a href="novedades.html" class="button">Leer más</a>
								</section>

						</div>
					</div>
				</div>

			<!-- Main -->
				<div id="main">
					<div class="container">
						<section>
							<header>
								<h2>Catalogo</h2>
								<span class="byline">Separe mis trabajos en 3 categorias.</span>
							</header>
							<span class="divider">&nbsp;</span>
						</section>
						<div class="row">
							<section class="4u 12u(mobile)">
								<img src="images/audio.jpg" alt="" class="image featured" />
								<h3>AUDIOS</h3>
								<span class="details">La Panadería, Lili no Baila Tango, Tres Piezas para Piano y más.</span>
								<a href="audio.html" class="button">- VER - </a>
							</section>
							<section class="4u 12u(mobile)">
								<img src="images/videos.jpg" alt="" class="image featured" />
								<h3>VIDEOS</h3>
								<span class="details">El Cisnecito, La Batutita Loca, La Panadería y más.</span>
								<a href="video.html" class="button">- VER - </a>
							</section>
							<section class="4u 12u(mobile)">
								<img src="images/musica.jpg" alt="" class="image featured" />
								<h3>PARTITURAS</h3>
								<span class="details">Blancanieves, Tres Piezas para Piano, Soplos y mas.</span>
								<a href="partituras.html" class="button">- VER - </a>
							</section>
						</div>
					</div>
				</div>

			<!-- Copyright -->
				<div id="copyright">
					<div class="container">
						Copyright &copy; Eduardo Kusnir. All rights reserved.
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>