<!DOCTYPE HTML>
<!--
	Venue by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
					<div class="container">
						
						<!-- Logo -->
							<h1 id="logo"><a href="index.html"><img src="images/logo.jpg" alt="Imagen Eduardo" /></a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="#">CATALOGO</a>
										<ul>
											<li><a href="audio.html">AUDIOS</a></li>
											<li><a href="video.html">VIDEOS</a></li>
											<li><a href="partituras.html">PARTITURAS</a></li>
										</ul>
									</li>
									<li><a href="biografia.html">Biografía</a></li>
									<li><a href="novedades.html">NOVEDADES</a></li>
									<li class="break"><a href="tesis.html">TESIS</a></li>
									<li><a href="imagenes.html">IMAGENES</a></li>
									<li><a href="contact.html">Contacto</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main3">
					<div class="container">

						<!-- Content -->
							<div class="row">
								<div id="content" class="6u 12u(mobile)">
									<article>
									<header>
											<h2>Tesis</h2>
											<span class="byline">BRINDIS – UNA MIRADA A LOS JUEGOS DESGARRADORES DEL ARTE.</span>
											<p>Tesis de doctorado en Estética y Ciencias del Arte presentada por Eduardo Kusnir, bajo la dirección del Profesor Daniel Charles en la Universidad de París VIII, Francia.</br>
											Título de la tesis: “BRINDIS”. “¿Es la música un lenguaje universal?”</br>
											Versión original en francés: París, Francia, noviembre de 1974.</br>
											Revisión y traducción al español por el autor: Buenos Aires, Argentina, 2005.</p>
										</header>
										<span class="byline">Para ver online en formato pdf:</span>
										<ul>
											<li>CARTA A DANIEL CHARLES (TUTOR DE LA TESIS) <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>
											<li>NUEVA CARTA A DANIEL CHARLES <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>
											<li>INTRODUCCIÓN <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>
											<li>PARTE I: LA MÁQUINA RECALENTADA <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>
											<li>PARTE II: LA MÁQINA PERTURBADA <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>
											<li>PARTE III: LA MÁQUINA A REDCORDAR <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>
											<li>PARTE IV: LA MÁQUINA A CONTORSIONES <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>
											<li>PARTE V: LA MÁQUINA A FASCINAR <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>
											<li>PARTE VI: LA MÁQUINA EN REPOSO <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>
											<li>PARTE VII: LA MÁQUINA DE DIRIGIR <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>
											<li>PARTE VIII: LA MÁQUINA ELECTROACÚSTICA I <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>	
											<li>PARTE IX: LA MÁQUINA ELECTROACÚSTICA II <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>
											<li>PARTE X: LA MÁQUINA INVIDENTE (TACET) <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>
											<li>PARTE XI: LA MÁQUINA INDECISA <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>	
											<li>PARTE XII: LA MÁQUINA BRINDA <a href="#"><span class="icon fa-file-pdf-o"></span></a></li>	
										
										</ul>
										
																			
									</article>
								</div>
								
								
							</div>

					</div>
				</div>

			

			<!-- Copyright -->
				<div id="copyright">
					<div class="container">
						Copyright &copy; Eduardo Kusnir. All rights reserved.
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>