<!DOCTYPE HTML>
<!--
	Venue by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
					<div class="container">
						
						<!-- Logo -->
							<h1 id="logo"><a href="index.html"><img src="images/logo.jpg" alt="Imagen Eduardo" /></a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="#">CATALOGO</a>
										<ul>
											<li><a href="audio.html">AUDIOS</a></li>
											<li><a href="videos.html">VIDEOS</a></li>
											<li><a href="partituras.html">PARTITURAS</a></li>
										</ul>
									</li>
									<li><a href="biografia.html">Biografía</a></li>
									<li><a href="novedades.html">NOVEDADES</a></li>
									<li class="break"><a href="tesis.html">TESIS</a></li>
									<li><a href="imagenes.html">IMAGENES</a></li>
									<li><a href="contact.html">Contacto</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main">
					<div class="container">

						<!-- Content -->
							<div class="row">
								<div id="content" class="6u 12u(mobile)">
									<article>
										<header>
											<h2>La Gran Panería</h2>
										</header>
										<p>La Gran Panadería (versión 2011)
										Es una orquestación de La Panadería electrónica de 1970. Fue estrenada en Buenos Aires en 2011 por la Orquesta Sinfónica Nacional bajo la dirección del Mtro. Alejo Pérez. La presente grabación corresponde a la Orquesta Sinfónica Simón Bolívar de Venezuela, dirigida por el Mtro. Alfredo Rugeles (2012).</p>
										<p>Desde el punto de vista de su composición La Gran Panadería -al igual que las Panaderías que la precedieron- está basada en pequeños motivos que se desarrollan muy poco, se reiteran, regresan, aparentan cambiar en su apariencia, en un contexto lúdico. . Es música gestual. Está estructurada en tres partes, la parte del centro tiene motivos de tango, la tercera parte es casi una retrogradación de la primera, con timbres diferentes. El título evoca una bulliciosa panadería de barrio, con personajes algo cómicos que entran y salen, todos dicen algo, todos se llevan su pan. El ambiente es festivo.</p>
										<iframe width="100%" height="450" src="https://www.youtube.com/embed/FggRsvY4mc8" frameborder="0" allowfullscreen></iframe>										
									</article>
								</div>
								<div id="content" class="6u 12u(mobile)">								
									<article>
										<header>
											<h2>El Cisnecito</h2>
										</header>
										<p>El cisnecito variación sobre “El Cisne” del “Carnaval de los animales” de Saint-Saens. Música electroacústica: Eduardo Kusnir Coreografía: Yamil Ostrovsky Intérprete: Damián Cortés Grabado el 17 de mayo de 2003 en el Centro Nacional de la Música (Buenos Aires) El cisnecito from Eduardo Kusnir on Vimeo.</p>
										<iframe src="https://player.vimeo.com/video/114708967" width="100%" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
										<p><a href="https://vimeo.com/114708967">El cisnecito</a> from <a href="https://vimeo.com/user35524187">Eduardo Kusnir</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

										
									</article>
								</div>
							</div>

					</div>
				</div>

			

			<!-- Copyright -->
				<div id="copyright">
					<div class="container">
						Copyright &copy; Untitled. All rights reserved.
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>